<div class="board">
  <div *ngFor="let vTile of axisVertical.reverse(); let j = index" ngClass="">
    <div
      *ngFor="let hTile of axisHorizontal; let i = index"
      class="tile"
      [ngClass]="{
        whiteTile: (i + j) % 2 === 0,
        blackTile: (i + j) % 2 === 1
      }"
    >
      <div
        class="piece"
        *ngIf="hasPieceOn(j, i)"
        [ngStyle]="{ 'background-image': 'url(' + lookUpImage(j, i) + ')' }"
        (mousemove)="movePiece($event)"
        (mousedown)="grabPiece($event)"
        (mouseup)="dropPiece($event)"
      ></div>
    </div>
  </div>
</div>
